.sidebar {
    background: #fff;
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    padding: 0 1em;
}

.sidebar .column {
    flex-direction:  column;
}

.sidebar__field {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.sidebar__fieldButtons {
    display: flex;
}

.sidebar__minusButton, .sidebar__plusButton  {
    display: grid;
    place-items: center;
    margin: 0 1em;
    cursor: pointer;
}

.sidebar__plusButton:hover, .sidebar__minusButton:hover {
    color: var(--primary)
}

.sidebar__field .learningRateInput {
    width: 40%;
}

* {
    /* border: 2px solid red; */
}